
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.prompt[data-v-de7b7d20],.answer[data-v-de7b7d20]{width:100%;max-height:40px;white-space:normal;overflow:hidden;text-overflow:ellipsis;cursor:pointer}.answer_container[data-v-de7b7d20]{max-height:500px;overflow:overlay}.search_condition[data-v-de7b7d20]{display:flex;align-items:center;justify-content:space-between;margin-top:28px;margin-bottom:12px}.search_condition .search_title[data-v-de7b7d20]{color:#20295a;font-size:13px;margin-bottom:6px}.search_condition[data-v-de7b7d20] .el-select__wrapper,.search_condition[data-v-de7b7d20] .el-input__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}
