
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.selected[data-v-c5405b02]{font-weight:700}.txt-red[data-v-c5405b02]{color:red}[data-v-c5405b02] .el-dialog>header{color:#20295a;font-size:15px;font-weight:700;background-color:#eff6ff;padding:15px 20px;border-top:15px;display:flex;align-items:center;justify-content:space-between;border-top-right-radius:15px;border-top-left-radius:15px}[data-v-c5405b02] .el-dialog>.el-dialog__body{padding-top:var(--el-dialog-padding-primary);padding-right:var(--el-dialog-padding-primary)}[data-v-c5405b02] .el-dialog>.el-dialog__footer{padding-bottom:var(--el-dialog-padding-primary);padding-right:var(--el-dialog-padding-primary)}
