
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.search_condition[data-v-da6b2144]{display:flex;align-items:center;justify-content:space-between;margin-top:32px;margin-bottom:12px}.search_condition .search_title[data-v-da6b2144]{color:#20295a;font-size:13px;margin-bottom:6px}.search_condition[data-v-da6b2144] .el-input__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}
