
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.search_condition[data-v-2f19dcd3]{display:flex;align-items:center;justify-content:space-between}.search_condition .search_title[data-v-2f19dcd3]{color:#20295a;font-size:13px;margin-bottom:6px}.search_condition[data-v-2f19dcd3] .el-select__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}.input-with-select[data-v-2f19dcd3] .el-select__wrapper{box-shadow:none}.input-with-select[data-v-2f19dcd3] .el-select__wrapper:hover{box-shadow:none!important}.input-with-select[data-v-2f19dcd3] .el-input__wrapper{background-color:#f4f4f5;box-shadow:none}.input-with-select_dialog[data-v-2f19dcd3] .el-select__wrapper{box-shadow:none}.input-with-select_dialog[data-v-2f19dcd3] .el-input__wrapper{background-color:transparent}
