
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.search_condition[data-v-440dc401]{display:flex;align-items:center;justify-content:space-between}.search_condition .search_title[data-v-440dc401]{color:#20295a;font-size:13px;margin-bottom:6px}.search_condition[data-v-440dc401] .el-select__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}[data-v-440dc401] .el-table{--el-table-border: 0px solid var(--el-table-border-color);--el-table-header-bg-color: #EFF6FF;font-size:13px}[data-v-440dc401] .el-form-item__label{color:#9fa3b8}[data-v-440dc401] .el-select__wrapper,[data-v-440dc401] .el-input__wrapper{border-radius:12px;font-size:13px}.input-with-select_dialog[data-v-440dc401] .el-select__wrapper{box-shadow:none}.input-with-select_dialog[data-v-440dc401] .el-input__wrapper{background-color:transparent}
