
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.search_condition[data-v-56237e5e]{display:flex;align-items:center;justify-content:space-between}.search_condition .search_title[data-v-56237e5e]{color:#20295a;font-size:13px;margin-bottom:6px}.search_condition[data-v-56237e5e] .el-select__wrapper,.search_condition[data-v-56237e5e] .el-input__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}.prompt[data-v-56237e5e],.answer[data-v-56237e5e]{width:100%;max-height:40px;white-space:normal;overflow:hidden;text-overflow:ellipsis;cursor:pointer}[data-v-56237e5e] .el-table{--el-table-border: 0px solid var(--el-table-border-color);--el-table-header-bg-color: #EFF6FF;font-size:13px}[data-v-56237e5e] .el-form-item__label{color:#9fa3b8}
