
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.email_box .disposition_main[data-v-2c485a13]{margin-top:32px}.email_box .disposition_main .type_title_list[data-v-2c485a13]{display:flex;align-items:center}.email_box .disposition_main .type_title_list .def_type_title[data-v-2c485a13]:nth-child(1),.email_box .disposition_main .type_title_list .type_title[data-v-2c485a13]:nth-child(1){margin-left:0}.email_box .disposition_main .type_title_list .type_title[data-v-2c485a13]{color:#3b82f6;font-size:15px;font-weight:500;cursor:pointer;margin-left:24px;position:relative}.email_box .disposition_main .type_title_list .def_type_title[data-v-2c485a13]{color:#737897;font-size:15px;font-weight:500;cursor:pointer;margin-left:24px}.email_box .disposition_main .type_title_list .type_title[data-v-2c485a13]:after{position:absolute;content:"";background-color:#3b82f6;width:20px;height:3px;bottom:-5px;left:50%;transform:translate(-50%)}[data-v-2c485a13] .el-input__inner,[data-v-2c485a13] .el-textarea__inner{font-size:13px;color:#9fa3b8}
