
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
[data-v-6551ec26] .el-input__inner,[data-v-6551ec26] .el-textarea__inner{font-size:13px;color:#9fa3b8}
