
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.header[data-v-0d08302f]{display:flex;align-items:center;justify-content:space-between}.search_add_card[data-v-0d08302f]{display:flex;align-items:center;justify-content:space-between;margin-bottom:12px}.search_add_card .condition_name[data-v-0d08302f]{margin-bottom:10px;color:#20295a;font-weight:400;font-size:13px}.search_add_card[data-v-0d08302f] .el-input__wrapper,.search_add_card[data-v-0d08302f] .el-select__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}.search_add_card[data-v-0d08302f] .el-select__wrapper{width:150px}[data-v-0d08302f] .el-table{--el-table-border: 0px solid var(--el-table-border-color);--el-table-header-bg-color: #EFF6FF;font-size:13px}
