
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.tools[data-v-3a4e3eae]{display:flex;align-items:center;padding:0 20px;white-space:nowrap;gap:20px}.tools .buttons[data-v-3a4e3eae]{margin-right:20px}.tools .buttons .item[data-v-3a4e3eae]{display:inline-flex;align-items:center;justify-content:center;height:24px;width:34px;cursor:pointer;vertical-align:middle}.tools .buttons .item .el-icon[data-v-3a4e3eae]{color:var(--el-text-color-primary);transition:var(--el-transition-color)}[data-v-3a4e3eae] .user-container{display:inline-block;height:24px;line-height:24px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none}[data-v-3a4e3eae] .user-container .user-wrapper:focus{outline:none!important}[data-v-3a4e3eae] .user-container .user-wrapper .el-avatar{vertical-align:middle;margin-top:-2px;margin-right:4px}[data-v-3a4e3eae] .el-select__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400}
