
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.copy-container[data-v-0721b57c]{display:flex;flex-direction:column;margin-bottom:10px}.copy-container div[data-v-0721b57c]{display:flex;justify-content:center}.copy-container div .agreement span[data-v-0721b57c]{margin:0}.copy-container div p[data-v-0721b57c]{font-size:12px;color:#9fa3b8;display:flex}.copy-container div p span[data-v-0721b57c]{display:flex;margin-left:10px}.copy-container div p span img[data-v-0721b57c]{width:16px}.copy-container div p span a[data-v-0721b57c]{text-decoration:none;color:#9fa3b8}.copy-container div p span a[data-v-0721b57c]:hover{text-decoration:none;color:red}.copy-container div p span a[data-v-0721b57c]:active{text-decoration:none;color:#9fa3b8}
