
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.search_condition[data-v-d4224b46]{display:flex;align-items:center;justify-content:space-between;margin-top:50px;margin-bottom:12px}.search_condition .search_title[data-v-d4224b46]{color:#20295a;font-size:13px;margin-bottom:6px}.search_condition[data-v-d4224b46] .el-select__wrapper,.search_condition[data-v-d4224b46] .el-input__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}[data-v-d4224b46] .el-table{--el-table-border: 0px solid var(--el-table-border-color);--el-table-header-bg-color: #EFF6FF}
