
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.prompt[data-v-22fe80bd],.answer[data-v-22fe80bd]{width:100%;max-height:80px;white-space:normal;overflow:hidden;text-overflow:ellipsis;cursor:pointer}.answer_container[data-v-22fe80bd]{max-height:500px;overflow:overlay}.recharge_record_box .search_order_card[data-v-22fe80bd]{display:flex;align-items:center;justify-content:space-between}.recharge_record_box .search_order_card .condition_name[data-v-22fe80bd]{margin-bottom:10px;color:#20295a;font-weight:400;font-size:13px}.recharge_record_box .search_order_card[data-v-22fe80bd] .el-input__wrapper,.recharge_record_box .search_order_card[data-v-22fe80bd] .el-select__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}[data-v-22fe80bd] .el-table{--el-table-border: 0px solid var(--el-table-border-color);--el-table-header-bg-color: #EFF6FF;font-size:13px}
