
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.tools[data-v-dd8f5cf8]{display:flex;align-items:center;padding:0 20px;white-space:nowrap}.tools .buttons[data-v-dd8f5cf8]{margin-right:20px}.tools .buttons .item[data-v-dd8f5cf8]{display:inline-flex;align-items:center;justify-content:center;height:24px;width:34px;cursor:pointer;vertical-align:middle}.tools .buttons .item .el-icon[data-v-dd8f5cf8]{color:var(--el-text-color-primary);transition:var(--el-transition-color)}[data-v-dd8f5cf8] .user-container{display:inline-block;height:24px;line-height:24px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none}[data-v-dd8f5cf8] .user-container .user-wrapper:focus{outline:none!important}[data-v-dd8f5cf8] .user-container .user-wrapper .el-avatar{vertical-align:middle;margin-top:-2px;margin-right:4px}
