
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.header[data-v-390351c8]{display:flex;align-items:center;justify-content:space-between}[data-v-390351c8] .el-table{--el-table-border: 0px solid var(--el-table-border-color);--el-table-header-bg-color: #EFF6FF}
