
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.search_add_card[data-v-f8d53f33]{display:flex;align-items:center;justify-content:space-between;margin-top:32px;margin-bottom:12px}.search_add_card .condition_name[data-v-f8d53f33]{margin-bottom:10px;color:#20295a;font-weight:400;font-size:13px}.search_add_card[data-v-f8d53f33] .el-input__wrapper,.search_add_card[data-v-f8d53f33] .el-select__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}.form_item_div[data-v-f8d53f33]{display:flex;align-items:center;justify-content:space-between}.form_input[data-v-f8d53f33]{width:220px}.add-btn[data-v-f8d53f33]{border-radius:8px;border:1px solid #3B82F6;color:#3b82f6;font-size:15px;height:32px;margin-top:25px}
