
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.avatar-uploader[data-v-5fb50363]{border:1px dashed #C9CCD7;border-radius:12px;width:49px;height:49px}.avatar-uploader .avatar-uploader-icon[data-v-5fb50363]{font-size:15px;font-weight:700;width:49px;height:49px}
