
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.box-card[data-v-30e4b1f9]{margin-bottom:10px}.box-card[data-v-30e4b1f9] .el-card__header{background:#efefef}.box-card p[data-v-30e4b1f9]{color:#888}.box-card p span[data-v-30e4b1f9]{color:#222}.access-list[data-v-30e4b1f9],li[data-v-30e4b1f9]{list-style:none;margin-bottom:16px}.setting-content[data-v-30e4b1f9]{display:flex;flex-direction:column}.setting-content .setting-content-line1[data-v-30e4b1f9]{display:flex;flex-direction:row}
