
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.box-card[data-v-3e2b2f75]{margin-bottom:10px}.box-card[data-v-3e2b2f75] .el-card__header{background:#efefef}.box-card p[data-v-3e2b2f75]{color:#888}.box-card p span[data-v-3e2b2f75]{color:#222}.access-list[data-v-3e2b2f75],li[data-v-3e2b2f75]{list-style:none;margin-bottom:16px}.setting-content[data-v-3e2b2f75]{display:flex;flex-direction:column}.setting-content .setting-content-line1[data-v-3e2b2f75]{display:flex;flex-direction:row}
