
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.avatar[data-v-a0e9c3e1]{width:100px;height:100px;display:block}.logo-uploader .el-upload[data-v-a0e9c3e1]{border:1px dashed var(--el-border-color);border-radius:6px;cursor:pointer;position:relative;overflow:hidden;transition:var(--el-transition-duration-fast)}.logo-uploader .el-upload[data-v-a0e9c3e1]:hover{border-color:var(--el-color-primary)}.el-icon.logo-uploader-icon[data-v-a0e9c3e1]{font-size:28px;color:#8c939d;width:100px;height:100px;text-align:center}.add-manager[data-v-a0e9c3e1]{max-height:65vh;overflow-y:auto}.flex-start[data-v-a0e9c3e1]{display:flex;justify-content:space-between}.access-list[data-v-a0e9c3e1],li[data-v-a0e9c3e1]{list-style:none;margin-bottom:16px}[data-v-a0e9c3e1] .el-select__wrapper{border-radius:12px}
