
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.add-manager[data-v-4cdb13dc]{max-height:65vh;overflow-y:auto}.flex-start[data-v-4cdb13dc]{display:flex;justify-content:space-between}.access-list[data-v-4cdb13dc],li[data-v-4cdb13dc]{list-style:none;margin-bottom:16px}
