
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.add-manager[data-v-112ed536]{max-height:65vh;overflow-y:auto}.flex-start[data-v-112ed536]{display:flex;justify-content:space-between}.access-list[data-v-112ed536],li[data-v-112ed536]{list-style:none;margin-bottom:16px}.avatar[data-v-112ed536]{width:100px;height:100px;display:block}.logo-uploader .el-upload[data-v-112ed536]{border:1px dashed var(--el-border-color);border-radius:6px;cursor:pointer;position:relative;overflow:hidden;transition:var(--el-transition-duration-fast)}.logo-uploader .el-upload[data-v-112ed536]:hover{border-color:var(--el-color-primary)}.el-icon.logo-uploader-icon[data-v-112ed536]{font-size:28px;color:#8c939d;width:100px;height:100px;text-align:center}
