
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.type_title[data-v-aeb8b3e9]{font-size:15px;font-weight:700;cursor:pointer;margin-left:24px;position:relative;color:#3b82f6}.type_title[data-v-aeb8b3e9]:nth-child(1){margin-left:0}.type_title[data-v-aeb8b3e9]:after{position:absolute;content:"";background-color:#3b82f6;width:20px;height:3px;bottom:-5px;left:50%;transform:translate(-50%)}.def_type_title[data-v-aeb8b3e9]{color:#737897;font-size:15px;font-weight:700;cursor:pointer;margin-left:24px}.def_type_title[data-v-aeb8b3e9]:nth-child(1){margin-left:0}[data-v-aeb8b3e9] .el-input__inner,[data-v-aeb8b3e9] .el-select__wrapper{font-size:13px;color:#9fa3b8;border-radius:12px}
