
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.search_add_card[data-v-0448d6d8]{display:flex;align-items:center;justify-content:space-between}.search_add_card .condition_name[data-v-0448d6d8]{margin-bottom:10px;color:#20295a;font-weight:400;font-size:13px}.search_add_card[data-v-0448d6d8] .el-input__wrapper,.search_add_card[data-v-0448d6d8] .el-select__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400}
