
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.type_title[data-v-a3c7cc3e]{font-size:15px;cursor:pointer;margin-left:24px;position:relative;color:#20295a}.type_title[data-v-a3c7cc3e]:nth-child(1){margin-left:0}.def_type_title[data-v-a3c7cc3e]{color:#737897;font-size:15px;font-weight:700;cursor:pointer;margin-left:24px}.def_type_title[data-v-a3c7cc3e]:nth-child(1){margin-left:0}[data-v-a3c7cc3e] .el-input__inner,[data-v-a3c7cc3e] .el-select__wrapper{font-size:13px;color:#9fa3b8;border-radius:12px}
