
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.search_add_card[data-v-b109901c]{margin-bottom:12px}.search_add_card .condition_name[data-v-b109901c]{margin-bottom:10px;color:#20295a;font-weight:400;font-size:13px}.search_add_card[data-v-b109901c] .el-input__wrapper,.search_add_card[data-v-b109901c] .el-select__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}
