
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.type_title[data-v-959ce067]{font-size:15px;font-weight:700;cursor:pointer;margin-left:24px;position:relative;color:#3b82f6}.type_title[data-v-959ce067]:nth-child(1){margin-left:0}.type_title[data-v-959ce067]:after{position:absolute;content:"";background-color:#3b82f6;width:20px;height:3px;bottom:-5px;left:50%;transform:translate(-50%)}.def_type_title[data-v-959ce067]{color:#737897;font-size:15px;font-weight:700;cursor:pointer;margin-left:24px}.def_type_title[data-v-959ce067]:nth-child(1){margin-left:0}.sub_title[data-v-959ce067]{font-size:13px;background-color:#3b82f6;color:#fff;border-radius:16px;padding:4px 8px;margin-left:24px;cursor:pointer;margin-bottom:10px}.sub_title[data-v-959ce067]:nth-child(1){margin-left:0}.sub_title_def[data-v-959ce067]{font-size:13px;color:#737897;margin-left:24px;cursor:pointer;margin-bottom:10px}.sub_title_def[data-v-959ce067]:nth-child(1){margin-left:0}[data-v-959ce067] .el-input__inner,[data-v-959ce067] .el-select__wrapper{font-size:13px;color:#9fa3b8;border-radius:12px}
