
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.avatar-uploader[data-v-2d005930]{border:1px dashed #C9CCD7;border-radius:12px;width:87px;height:87px;margin-left:20px}.avatar-uploader .avatar-uploader-icon[data-v-2d005930]{font-size:20px;font-weight:700;width:87px;height:87px}
