
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.form_item_div[data-v-ee8e74bc]{display:flex;align-items:center;justify-content:space-between}.form_input[data-v-ee8e74bc]{width:220px}.add-btn[data-v-ee8e74bc]{border-radius:8px;border:1px solid #3B82F6;color:#3b82f6;font-size:15px;height:32px;margin-top:25px}
