
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
[data-v-b058d8cd] .el-input .el-input__inner{text-align:left}.form_item_div[data-v-b058d8cd]{display:flex;align-items:center;justify-content:space-between}.form_input[data-v-b058d8cd]{width:220px}.add-btn[data-v-b058d8cd]{border-radius:8px;border:1px solid #3B82F6;color:#3b82f6;font-size:15px;height:32px;margin-top:25px}
