
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.type_title[data-v-166d2a7a]{color:#3b82f6;font-size:15px;font-weight:700;cursor:pointer;margin-left:24px;position:relative}.def_type_title[data-v-166d2a7a]{color:#737897;font-size:15px;font-weight:700;cursor:pointer;margin-left:24px}.type_title[data-v-166d2a7a]:nth-child(1),.def_type_title[data-v-166d2a7a]:nth-child(1){margin-left:0}.type_title[data-v-166d2a7a]:after{position:absolute;content:"";background-color:#3b82f6;width:20px;height:3px;bottom:-5px;left:50%;transform:translate(-50%)}[data-v-166d2a7a] .el-input__inner,[data-v-166d2a7a] .el-textarea__inner{font-size:13px;color:#9fa3b8}
