
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.wechat_box .wechat_main[data-v-c0ea6928]{margin-top:32px}.wechat_box .wechat_main .title[data-v-c0ea6928]{font-size:15px;color:#20295a;font-weight:700}[data-v-c0ea6928] .el-input__inner,[data-v-c0ea6928] .el-textarea__inner{font-size:13px;color:#9fa3b8}
